---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Datyca" description="Datyca">
  <main>
    <section class="min-h-screen flex items-center justify-center">
      <h1 class="text-4xl font-bold">Datyca</h1>
    </section>
  </main>
</Layout>
