---
interface Props {
  id: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<section id={id} class:list={['section', className]}>
  <div class="section__inner">
    <slot />
  </div>
</section>

<style>
  .section__inner {
    max-width: 1440px;
    margin-inline: auto;
    padding: var(--section-padding-y) var(--section-padding-x);
  }
</style>
